<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/image/icons/main_icon1.png}" />
    <link rel="apple-touch-icon" type="image/png" th:href="@{/image/icons/main_icon1.png}">
    <title>Error</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; padding-top: 50px; }
        .error-code { font-size: 72px; color: #dc3545; }
        .error-message { font-size: 24px; }
        .details { margin-top: 20px; color: #6c757d; }
    </style>
</head>
<body>
    <div class="error-code">Error</div>
    <div class="error-message">Ocorreu algum error inesperado.</div>
    
    <a href="/">Voltar para a página inicial</a>
</body>
</html>