body{
    display: flex;
}

/*############# ASIDE #############*/

aside{
    position: relative;

    box-shadow: 0px 2px 5px grey;
    background-color: var(--primary-color);
    width: 80px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 40px;
}

aside.expanded{
    width: 190px;
}

#asideBtn {
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    
    background-color: rgb(255, 255, 255);
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    
    transition: all 0.3s ease-in-out;
}

#asideBtn:hover{
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}

aside > div{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.title{
    display: none;
    text-decoration: none;
    font-family: var(--font-raleway);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.title.expanded{
    display: flex;
}

.title.expanded:hover{
    font-weight: bold;
    cursor: pointer;
}

aside > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Botoes */

aside > ul li a {
    box-shadow: 1px 1px 2px rgb(128, 128, 128);
    background-color: rgb(240, 240, 240);
    border-radius: 5px;

    color: black;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: start;
    
    gap: 7px;

    padding: 5px 13px 5px 13px;

    transition: background-color 0.3s ease-in-out;
    transition: font-weight 0.2s ease-in;

    width: 95%; 
}

aside > ul li {
    list-style: none; 
    display: block; 
    width: 100%;
}

aside > ul li a:hover, #logoutBtn:hover {
    background-color: rgb(204, 204, 204);
    cursor: pointer;
    font-weight: bold;
}

.listTitle {
    font-size: 1.1rem;
    font-family: var(--font-raleway);
    display: none;
}

.listTitle.expanded {
    display: block;
}

#logoutBtn {
    position: absolute;

    bottom: 1.5%;

    box-shadow: 1px 1px 2px rgb(128, 128, 128);
    background-color: rgb(240, 240, 240);
    border-radius: 5px;

    width: 76.5%;
    display: flex;
    align-items: center;
    justify-content: start;

    text-decoration: none;
    color: black;

    gap: 7px;

    padding: 5px 13px 5px 13px;

    transition: background-color 0.3s ease-in-out;
    transition: font-weight 0.2s ease-in;
}

/*############# MAIN #############*/

main {
    /* border: 2px solid rgb(255, 0, 0); */
    height: 100%;
    width: 100%;
}

/* --- Títulos --- */
.mainTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.5em;
  font-family: var(--font-nunito);
  font-weight: 300;
}

/* Responsividade ASIDE */

@media screen and (max-width: 599px) {

    body{
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100vw;
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    aside.expanded{
        width: unset;
        height: 95px;
    }

    .title.expanded {
        display: none;
    }

    aside > div {
        margin: 15px -10px 15px 10px;
    }

    aside > ul {
        flex-direction: row;
    }

    aside > ul li a {
        flex-direction: column;
        white-space: nowrap;
        padding: 3px 5px 3px 5px;
    }

    .listTitle {
        font-size: clamp(0.3rem , 2vw ,1.1rem);
    }

    #logoutBtn {
        position: unset;
        width: 40px;
        margin-right: 10px;
        margin-left: -10px;
        flex-direction: column;
    }

    #logoutBtn img {
        height: 30px;
    }
}