/*############# SEARCH #############*/

#search{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/*------------- Search Header -------------*/

#search > header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    gap: 20px;
}

#search > header form{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#inputSearch{
    height: 30px;
    width: 65%;
    padding-left: 5px;
    font-family: var(--font-ubuntu);
}

#search > header > div{
    position: relative;
}

#filtrosBtn{
    font-size: 0.9rem;
    padding: 7px 10px;
    font-weight: 500;
    background: #3e5069;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

#filtrosCats{
    box-shadow: 0px 1px 4px grey;
    border-radius: 3px;

    background-color: white;
    list-style: none;

    position: absolute;

    display: none;
    flex-direction: column;
    
    top: 18%;
}

#filtrosCats.actived{
    display: flex;
}

#filtrosCats li {
    display: flex;
    align-items: center;
    justify-content: start;

    white-space: nowrap;

    padding: 10px 15px 10px 15px;
    gap: 7px;

    font-family: var(--font-raleway);
    font-size: 0.9rem;
}

#searchBtn2 {
    font-size: 0.9rem;
    padding: 7px 10px;
    font-weight: 500;
    background: #3e5069;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(16, 185, 129, 0.6);
  border-radius: 100%;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#searchBtn2:hover .transition, #filtrosBtn:hover .transition, #hostCreateBtn:hover .transition {
  width: 14em;
  height: 14em;
}

#searchBtn2:active, #filtrosBtn:active, #hostCreateBtn:active  {
  transform: scale(0.97);
}

#filtrosCats li input[type="checkbox"]:hover{
    cursor: pointer;
}

/*------------- Search Article -------------*/

#search > article {
    box-shadow: 0px 1px 4px grey;
    border-radius: 7px;

    width: 90%;
    height: 65%;
    overflow-x: hidden;
    overflow-y: scroll;

}

#search > article > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px 5px 0px 5px;
}

#search > article > ul li{
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#search > article > ul li:nth-of-type(even) {
    background-color: rgb(217, 217, 217);
}

#search > article > ul li h6{
    font-family: var(--font-nunito);
    font-size: 1.2rem;
}

#search > article > ul li p{
    font-size: 0.8rem;
    color: rgb(34, 34, 34);
}

#search > article > ul li div{
    display: flex;
    gap: 10px;
}

#search > article > ul li div > button {
    border: none; 
    border-radius: 4px;
    width: 45px;
    transition: all 0.2s ease-in-out;
}

#search > article > ul li div > button:hover{
    cursor: pointer;
    filter: brightness(1.3);
}

#search > article > ul li div > button img{
    transition: all 0.6s ease-in-out;
}

#search > article > ul li div > button:hover img{
    filter: brightness(2);
}

#search > article > ul li .read{
    background-color: rgb(63, 194, 85);
}

#search > article > ul li .update{
    background-color: rgb(63, 63, 194);
}

#search > article > ul li .delete{
    background-color: rgb(194, 63, 63);
}

/* Dialogs */

/* Estilo para o fundo escurecido do modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1000; /* Fica na frente de tudo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo preto semi-transparente */
}

/* Classe para mostrar o modal via JavaScript */
.modal.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Conteúdo do modal (a caixa branca) */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    position: relative;
    animation: fadeIn 0.3s;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-content h2, .modal-content p, .modal-content label{
    font-family: var(--font-nunito);
}

.modal-content > ul{
    list-style: none;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 9px;
    padding: 10px;
}

.modal-content > ul li {
    font-family: var(--font-nunito);
    color: black;
}

#update-host-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-group{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.form-group > input[type="text"], .form-group > textarea{
    width: 60%;
    font-family: var(--font-nunito);
    padding: 5px;
    font-size: 1rem;
}

/* Botão de fechar (X) */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 96%;
    top: 1%;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
}

/* --- Abas de Navegação (Tab Navigation) --- */
.tabs-container {
    height: 550px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px grey;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tabs-nav {
    display: flex;
    justify-content: space-between; /* Espaço entre os botões */
    border-bottom: 2px solid var(--color-border);
    margin-bottom: 20px;
}

.tab-radio {
    display: none;
}

.tabs-nav .tab-button {
    flex-grow: 1; /* Faz com que os botões ocupem o espaço disponível */
    padding: 15px 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent; /* Para o efeito de ativação */
    color:  black;
    font-family: var(--font-nunito);
    font-size: 0.7rem;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.tabs-nav .tab-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.tab-radio:checked + .tab-button {
    border-bottom-color: var(--color-primary); /* Cor de destaque da aba ativa */
    color: var(--color-primary);
    font-weight: 600;
}

/* --- Conteúdo das Abas (Tab Content) --- */

.tabs-content {
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
    padding: 10px 0;
}

/* --- Grupos de Gráficos (Checkboxes) --- */
.chart-group {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.chart-group h3 {
    font-size: 1.1rem;
    color: black;
    font-family: var(--font-roboto);
    margin-bottom: 15px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-group label {
    font-size: 1em;
    color: black;
    font-family: var(--font-raleway);
    cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 8px;
    cursor: pointer;
}

details {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
  font-family: var(--font-nunito);
  font-weight: 300;
}

details p{
    font-size: 0.7rem;
}

summary {
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

summary div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}

summary:hover{
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}

.btn-submit, #cancel-delete-btn, #confirm-delete-btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(141, 141, 141);
    font-family: var(--font-nunito);
    transition: all 0.3s ease-in-out;
}

.btn-submit:hover, #cancel-delete-btn:hover, #confirm-delete-btn:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}

/* Estilos para os botões de ação do modal */
.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

/* Animação de entrada */
@keyframes fadeIn {
    from {opacity: 0; transform: scale(0.9);}
    to {opacity: 1; transform: scale(1);}
}