# Arquivos gerados pelo Build
src/aplicacao/target/

# Arquivos de Log
src/aplicacao/*.log
src/aplicacao/*.log.*

# Arquivos de configuração de IDEs
src/aplicacao/.idea/
src/aplicacao/*.iml
src/aplicacao/.settings/
src/aplicacao/.classpath
src/aplicacao/.project
src/aplicacao/.vscode/
.vscode

# Arquivos de ambiente local (com senhas e segredos)
src/aplicacao/.env
src/aplicacao/.env.*

# Arquivos do sistema operacional
src/aplicacao/.DS_Store
src/aplicacao/Thumbs.db
