<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<link rel="icon" type="image/png" th:href="@{/image/icons/main_icon1.png}" />
    <link rel="apple-touch-icon" type="image/png" th:href="@{/image/icons/main_icon1.png}">
    
    <link rel="stylesheet" th:href="@{/stylesheets/application.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/pointGraphic.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/home.css}">
    
    <title>MSA</title>
</head>
<body>

    <div id="flash-message" class="flash-message hidden">
        <p id="flash-message-text"></p>
        <button class="close-flash" id="btn-flash-message">×</button>
    </div>

    <header class="main-header">
        <article>
            <a href="/admin" id="admin-btn">Portal Admin</a>
			<img th:src="@{/image/Logo_Unilab_horizontal_para_fundo_escuro.png}" alt="" height="120px">
            
			<div>
                <h1>Estados de Serviços</h1>

                <ul>
                    <li><p>Última atualização</p></li>
                    <li><p id="lastUpdateTime">--:--:--</p></li> 
                    <li><p>|</p></li>
                    <li><p>Próxima atualização em</p></li>
                    <li><p id="countDownTime">00s.</p></li>
                </ul>
            </div>
        </article>    
    </header>

    <main>
        <section>
            <header>
                <nav>
                    <h1>Buscar Serviços</h1>
                    <img th:src="@{/image/icons/down_black.png}"
                         th:data-hover-src="@{/image/icons/up_black.png}" 
                         alt="" 
                         height="30px" 
                         id="navbar-icon">
                </nav>

                <form>
                    <input type="text" id="home-search-input" placeholder="Buscar por nome do serviço..." autocomplete="off">
                </form>

                <!-- Classe .expanded para quando tiver uma busca -->
                <article id="outdoor-search">
                    <ul id="search-results-list">
                    </ul>
                </article>
            </header>

            <article>

                <aside>
                    <h1>Filtros</h1>
                    <ul>
                        <li>
                            <h3>Categoria</h3>
                            <article>
                                <div>
                                    <input type="checkbox" name="categoria" id="cat-servicos">
                                    <label for="servicos">Serviços/Aplicações</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="categoria" id="cat-servidores">
                                    <label for="servidores">Servidores</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="categoria" id="cat-DB">
                                    <label for="DB">Banco de Dados</label>
                                </div>
                            </article>
                        </li>

                        <li>
                            <h3>Estados</h3>

                            <article>
                                <div>
                                    <input type="checkbox" name="estado" id="funcional">
                                    <label for="funcional">Funcionando</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="estado" id="alerta">
                                    <label for="alerta">Alerta</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="estado" id="parado">
                                    <label for="parado">Parado</label>
                                </div>
                            </article>
                        </li>

                        <li>
                            <h3>Disponibilidade</h3>

                            <div>
                                <p>0%</p>
                                <input type="range" min="0" max="100" step="0.1" value="100" name="disponibilidade-range" id="disponibilidade-range">
                                <p>100%</p>
                            </div>
                        </li>
                    </ul>
                    <div class="container-btn">
                        <button id="filtros-btn">Aplicar</button>
                        <button id="reset-btn">Limpar</button>
                    </div>
                </aside>
                
                <div class="services-outdoor">
                    <h1>Serviços e Aplicações</h1>
                    
                    <ul id="services-list-container">
                    </ul>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <article>
            <header>
                <h1>DTI</h1>
                <h4>Diretoria de Tecnologia da Informação</h4>
                <p>Aplicação desenvolvida pela DTI © 2025</p>
            </header>

            <div>
                <ul>
                    <li>
                        <button id="fullscreen-btn">  
                            <img th:src="@{/image/icons/fullscreen_black.png}" alt="" height="20px">
                            <p>Fullscreen mode</p>
                        </button>
                    </li>

                    <li>
                        <button id="alert-btn"> 
                            <img th:src="@{/image/icons/mute_black.png}" alt="" height="20px">
                            <p>Alert Sound</p>
                        </button>
                    </li>
                </ul>
            </div>
        </article>
    </footer>

    <audio id="alert-sound" src="/sounds/alert.mp3" preload="auto"></audio>

    <script th:src="@{/javascript/zabbixStatusChecker.js}"></script>
    <script th:src="@{/javascript/component.js}"></script>
    <script th:src="@{/javascript/homeRequest.js}"></script>
    <script th:src="@{/javascript/home.js}"></script>
</body>
</html>