<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<link rel="icon" type="image/png" th:href="@{/image/icons/main_icon1.png}" />
    <link rel="apple-touch-icon" type="image/png" th:href="@{/image/icons/main_icon1.png}">
    
    <link rel="stylesheet" th:href="@{/stylesheets/application.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/pointGraphic.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/aside.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/admin.css}">

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
    <title>Portal Admin</title>
</head>
<body>

    <aside>
        <div>
            <button id="asideBtn">
                <img src="/image/icons/hamburguer_black.png" alt="" height="30px">
            </button>
            <a href="/" class="title">MSA</a>
        </div>

        <ul>
            <li sec:authorize="hasAuthority('index_admin')">
                <a href="/admin" id="homeBtn">
                    <img src="/image/icons/home_black.png" alt="" height="33px">
                    <span class="listTitle">Início</span>
                </a>
            </li>
            
            <li sec:authorize="hasAuthority('search_admin')">
                <a href="/admin/search" id="searchBtn">
                    <img src="/image/icons/search_black.png" alt="" height="33px">
                    <span class="listTitle">Pesquisar</span>
                </a>
            </li>

            <li sec:authorize="hasAuthority('create_admin')">
                <a href="/admin/create" id="createBtn">
                    <img src="/image/icons/create_black.png" alt="" height="33px">
                    <span class="listTitle">Criar Host</span>
                </a>
            </li> 
        </ul>

        <a href="/logout" id="logoutBtn">
            <img src="/image/icons/logout_black.png" alt="" height="33px">
            <p class="listTitle">Sair</p>
        </a>
    </aside>

    <main id="home">
        <h1 class="mainTitle">Início</h1>

        <div class="dashboard-grid">

            <div class="kpi-cards-container">
                <div class="kpi-card">
                    <p>Hosts Monitorados</p>
                    <h2 id="kpi-total-hosts">99</h2>
                </div>
                <div class="kpi-card">
                    <p>Hosts Ativos</p>
                    <h2 id="kpi-active-hosts" class="text-success">--</h2>
                </div>
                <div class="kpi-card">
                    <p>Hosts com Problemas</p>
                    <h2 id="kpi-problem-hosts" class="text-danger">--</h2>
                </div>
                <div class="kpi-card">
                    <p>Hosts Parados</p>
                    <h2 id="kpi-unreachable-hosts" class="text-warning">--</h2>
                </div>
            </div>

            <div class="main-content">
                <div class="dashboard-widget">
                    <h3>Últimos Alertas Críticos</h3>

                    <div id="alert-feed-container">
                        <p>Carregando alertas...</p>
                    </div>
                </div>

                <div class="dashboard-widget">
                    <h3>Top 5 Hosts com Mais Problemas (48h)</h3>

                    <div id="top-hosts-container">
                        <p>Carregando dados...</p>
                    </div>
                </div>
            </div>

            <div class="sidebar-content">
                <div class="dashboard-widget">
                    <h3>Disponibilidade Média Geral (48h)</h3>
                    <div id="disponMediaChart">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script th:src="@{/javascript/aside.js}"></script>
    <script th:src="@{/javascript/admin.js}"></script>
    <script th:src="@{/javascript/adminRequest.js}"></script>
</body>
</html>