<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<link rel="icon" type="image/png" th:href="@{/image/icons/main_icon1.png}" />
    <link rel="apple-touch-icon" type="image/png" th:href="@{/image/icons/main_icon1.png}">
    
    <link rel="stylesheet" th:href="@{/stylesheets/application.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/pointGraphic.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/aside.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/search.css}">
    
    <title>Pesquisar</title>
</head>
<body>
    
    <aside>
        <div>
            <button id="asideBtn">
                <img src="/image/icons/hamburguer_black.png" alt="" height="30px">
            </button>
            <a href="/" class="title">MSA</a>
        </div>

        <ul>
            <li sec:authorize="hasAuthority('index_admin')">
                <a href="/admin" id="homeBtn">
                    <img src="/image/icons/home_black.png" alt="" height="33px">
                    <span class="listTitle">Início</span>
                </a>
            </li>
            
            <li sec:authorize="hasAuthority('search_admin')">
                <a href="/admin/search" id="searchBtn">
                    <img src="/image/icons/search_black.png" alt="" height="33px">
                    <span class="listTitle">Pesquisar</span>
                </a>
            </li>

            <li sec:authorize="hasAuthority('create_admin')">
                <a href="/admin/create" id="createBtn">
                    <img src="/image/icons/create_black.png" alt="" height="33px">
                    <span class="listTitle">Criar Host</span>
                </a>
            </li> 
        </ul>

        <a href="/logout" id="logoutBtn">
            <img src="/image/icons/logout_black.png" alt="" height="33px">
            <p class="listTitle">Sair</p>
        </a>
    </aside>

    <main id="search">
        <h1 class="mainTitle">Pesquisar</h1>

        <header>
            <form method="post" th:action="@{/admin/search/host}" name="search-form" id="search-form">
                <input type="text" name="inputSearch" id="inputSearch" required>
                <div>
                    <button type="button" id="filtrosBtn">
                        <span class="transition"></span>
                        <span class="gradient"></span>
                        <span class="label">Filtros</span>
                    </button>
                    <ul id="filtrosCats">
                        <li>
                            <input type="checkbox" name="APPLICATION" value="APPLICATION" id="cat-APPLICATION">
                            <label for="">Aplicações</label>
                        </li>
    
                        <li>
                            <input type="checkbox" name="SERVER" value="SERVER" id="cat-SERVER">
                            <label for="">Servidores</label>
                        </li>
    
                        <li>
                            <input type="checkbox" name="DATABASE" value="DATABASE" id="cat-DATABASE">
                            <label for="">Banco de Dados</label>
                        </li>
                    </ul>
                </div>
                <button id="searchBtn2" type="submit" for="search-form">
                    <span class="transition"></span>
                    <span class="gradient"></span>
                    <span class="label">Pesquisar</span>
                </button>
            </form>
        </header>

        <article>
            <ul th:if="${!listaHosts.isEmpty()}">

                <li th:each="host : ${listaHosts}" 
                    th:attr="
                        data-host-id=${host.id},
                        data-host-name=${host.name},
                    " 
                    sec:authorize="hasAuthority('ADMIN_READ')">
                        
                    <header>
                        <h6 th:text="${host.name}">Nome do Host</h6>
                        <p th:text="${host.description}">Descrição do Host</p>
                    </header>

                    <div>
                        <button sec:authorize="hasAuthority('ADMIN_READ')" class="read">
                            <img src="/image/icons/read_white.png" alt="" height="25px">
                        </button>

                        <button sec:authorize="hasAuthority('ADMIN_UPDATE')" class="update">
                            <img src="/image/icons/update_white.png" alt="" height="25px">
                        </button>

                        <button sec:authorize="hasAuthority('ADMIN_DELETE')" class="delete">
                            <img src="/image/icons/delete_white.png" alt="" height="25px">
                        </button>
                    </div>
                </li>

            </ul>

            <div th:if="${listaHosts.isEmpty() and initialLoad == null}">
        <p>Nenhum host encontrado para os critérios informados.</p>
            </div>

            <div th:if="${initialLoad}">
                <p>Digite um termo de busca e/ou selecione os filtros para começar.</p>
            </div>
        </article>
    </main>

    <div id="read-modal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2 id="modal-read-name">Nome do Host</h2>
            <p><strong>Descrição:</strong> <span id="modal-read-description"></span></p>
            <p><strong>ID no Zabbix:</strong> <span id="modal-read-zabbix-id"></span></p>
            <p><strong>ID Pública:</strong> <span id="modal-read-public-id"></span></p>
            <p><strong>ID no DB:</strong> <span id="modal-read-db-id"></span></p>
            <p><strong>Tipo:</strong> <span id="modal-read-type"></span></p>
            <p><strong>Gráficos</strong></p>
            <ul>
                <li></li>
            </ul>
        </div>
    </div>

    <div id="update-modal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Editar Host</h2>
            <form  method="put" th:action="@{/admin/host/update}" id="update-host-form">
                <input type="number" name="hostID" id="modal-update-id" hidden>
                
                <div class="form-group">
                    <label for="modal-update-name">Nome do Host</label>
                    <input type="text" id="modal-update-name" name="hostName" required>
                </div>

                <div class="form-group">
                    <label for="modal-update-name">ID do Host via Zabbix</label>
                    <input type="text" id="modal-update-zabbixID" name="hostZabbixID" required>
                </div>

                <div class="form-group">
                    <label for="modal-update-description">Descrição</label>
                    <textarea id="modal-update-description" name="hostDescription"></textarea>
                </div>

                <div class="tabs-container">
                    <div class="tabs-nav">
                        <input type="radio" id="type-aplicacao" name="hostType" value="APPLICATION" class="tab-radio" data-tab="APPLICATION" checked>
                        <label for="type-aplicacao" class="tab-button">Aplicação/Serviço</label>

                        <input type="radio" id="type-servidores" name="hostType" value="SERVER" class="tab-radio" data-tab="SERVER">
                        <label for="type-servidores" class="tab-button">Servidores</label>

                        <input type="radio" id="type-banco-dados" name="hostType" value="DATABASE" class="tab-radio" data-tab="DATABASE">
                        <label for="type-banco-dados" class="tab-button">Banco de Dados</label>
                    </div>

                    <div class="tabs-content">

                        <div id="tab-APPLICATION" class="tab-pane active">
                            <div class="chart-group">
                                <h3>Disponibilidade</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="disponibilidade-global" value="disponibilidade-global"> Disponibilidade Global (48h)</label>
                                                <label><input type="checkbox" name="disponibilidade-especifica" value="disponibilidade-especifica"> Disponibilidade Específica (48h, 24h, 12h, 6h)</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>zabbix[host,agent,available]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Latência</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="latencia-tempo-resposta" value="latencia-tempo-resposta"> Tempo de resposta</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>icmppingsec</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>CPU</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="cpu-uso" value="cpu-uso"> Uso de CPU</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>system.cpu.util</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Memória</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="memoria-ram" value="memoria-ram"> Uso de memória RAM</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>vm.memory.size[total]</strong></p>
                                        <p>Chave Zabbix: <strong>vm.memory.size[avaliable]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Armazenamento</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="armazenamento" value="armazenamento"> Uso de armazenamento</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/,total]</strong></p>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/,used]</strong></p>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/boot,total]</strong></p>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/boot,used]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Dados</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="dados-banda-larga" value="dados-banda-larga"> Banda Larga de Dados</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>net.if.in["eth0"]</strong></p>
                                        <p>Chave Zabbix: <strong>net.if.out["eth0"]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Outros</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="tempo-ativo" value="tempo-ativo"> Tempo de Servidor Ativo</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>system.uptime</strong></p>
                                    </details>
                                    
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="eventos-recentes" value="eventos-recentes"> Eventos Recentes</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Zabbix API: <strong>event.get</strong></p>
                                    </details>
                                </div>
                            </div>
                        </div>

                        <div id="tab-SERVER" class="tab-pane">
                            <div class="chart-group">
                                <h3>Disponibilidade</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="disponibilidade-global" value="disponibilidade-global"> Disponibilidade Global (48h)</label>
                                                <label><input type="checkbox" name="disponibilidade-especifica" value="disponibilidade-especifica"> Disponibilidade Específica (48h, 24h, 12h, 6h)</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>zabbix[host,agent,available]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Sistema Operacional</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="sistema-operacional" value="sistema-operacional"> Sistema Operacional (SO e Arquitetura)</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>system.sw.os</strong></p>
                                        <p>Chave Zabbix: <strong>system.sw.arch</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>CPU</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="cpu-uso" value="cpu-uso"> Uso de CPU</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>system.cpu.util</strong></p>
                                    </details>

                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="cpu-processos" value="cpu-processos"> Processos (Num MAX e atuais)</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>kernel.maxproc</strong></p>
                                        <p>Chave Zabbix: <strong>proc.num</strong></p>
                                    </details>

                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="cpu-troca-contextos" value="cpu-troca-contextos"> Troca de Contextos</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>system.cpu.switches</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Memória</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="memoria-ram" value="memoria-ram"> Uso de memória RAM</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>vm.memory.size[total]</strong></p>
                                        <p>Chave Zabbix: <strong>vm.memory.size[avaliable]</strong></p>
                                    </details>

                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="memoria-swap" value="memoria-swap"> Uso de memória SWAP</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>system.swap.size[,total]</strong></p>
                                        <p>Chave Zabbix: <strong>system.swap.size[,free]</strong></p>
                                    </details>
                                    
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Armazenamento</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="armazenamento" value="armazenamento"> Uso de armazenamento</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/,total]</strong></p>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/,used]</strong></p>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/boot,total]</strong></p>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/boot,used]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Dados</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="dados-banda-larga" value="dados-banda-larga"> Banda Larga de Dados</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>net.if.in["eth0"]</strong></p>
                                        <p>Chave Zabbix: <strong>net.if.out["eth0"]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Outros</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="tempo-ativo" value="tempo-ativo"> Tempo de Servidor Ativo</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>system.uptime</strong></p>
                                    </details>

                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="eventos-recentes" value="eventos-recentes"> Eventos Recentes</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Zabbix API: <strong>event.get</strong></p>
                                    </details>
                                </div>
                            </div>
                        </div>

                        <div id="tab-DATABASE" class="tab-pane">
                            <div class="chart-group">
                                <h3>Disponibilidade</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="disponibilidade-global" value="disponibilidade-global"> Disponibilidade Global (48h)</label>
                                                <label><input type="checkbox" name="disponibilidade-especifica" value="disponibilidade-especifica"> Disponibilidade Específica (48h, 24h, 12h, 6h)</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>zabbix[host,agent,available]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>CPU</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="cpu-uso" value="cpu-uso"> Uso de CPU</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>system.cpu.util</strong></p>
                                    </details>

                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="cpu-processos" value="cpu-processos"> Processos (Num MAX e atuais)</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>kernel.maxproc</strong></p>
                                        <p>Chave Zabbix: <strong>proc.num</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Memória</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="memoria-ram" value="memoria-ram"> Uso de memória RAM</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>vm.memory.size[total]</strong></p>
                                        <p>Chave Zabbix: <strong>vm.memory.size[avaliable]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Armazenamento</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="armazenamento" value="armazenamento"> Uso de armazenamento</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/,total]</strong></p>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/,used]</strong></p>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/boot,total]</strong></p>
                                        <p>Chave Zabbix: <strong>vfs.fs.size[/boot,used]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Dados</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="dados-banda-larga" value="dados-banda-larga"> Banda Larga de Dados</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>net.if.in["eth0"]</strong></p>
                                        <p>Chave Zabbix: <strong>net.if.out["eth0"]</strong></p>
                                    </details>
                                </div>
                            </div>

                            <div class="chart-group">
                                <h3>Outros</h3>
                                <div class="checkbox-group">
                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="tempo-ativo" value="tempo-ativo"> Tempo de Servidor Ativo</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Chave Zabbix: <strong>system.uptime</strong></p>
                                    </details>

                                    <details>
                                        <summary>
                                            <div>
                                                <label><input type="checkbox" name="eventos-recentes" value="eventos-recentes"> Eventos Recentes</label>
                                            </div>
                                            <img src="/image/icons/down_black.png" alt="" height="20px">
                                        </summary>
                                        <p>Zabbix API: <strong>event.get</strong></p>
                                    </details>
                                </div>
                            </div>
                        </div>               

                    </div>
                </div>

                <button type="submit" class="btn-submit">Salvar Alterações</button>
            </form>
        </div>
    </div>

    <div id="delete-modal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Confirmar Exclusão</h2>
            <p>Você tem certeza que deseja excluir o host <strong id="modal-delete-name"></strong>?</p>
            <div class="modal-actions">
                <button id="cancel-delete-btn" class="btn-secondary" type="button">Cancelar</button>
                
                <button id="confirm-delete-btn" class="btn-danger" type="button">Confirmar Exclusão</button>
            </div>
        </div>
    </div>

    <script th:src="@{/javascript/aside.js}"></script>
    <script th:src="@{/javascript/search.js}"></script>
    <script th:src="@{/javascript/searchRequest.js}"></script>

</body>
</html>