main{
    margin: 0 auto;
    width: 1250px;
    height: auto;
}

main > header{
    position: relative;
    margin: -50px auto 0px auto;
    width: 100%;
    height: 200px;
    border-radius: 7px;
    box-shadow: 0px 2px 7px grey;
    background-color: white;
    padding: 0px 0px 0px 130px;

    display: flex;
    align-items: center;
    gap: 30px;
}

#linkHome{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 20%;
    left: 17.5%;

    text-decoration: none;
    color: white;
    font-family: var(--font-nunito);
    gap: 5px;

    transition: all 0.3s ease-in-out;
}

#linkHome:hover{
    cursor: pointer;
    transform: scale(1.05);
}


.dot{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.dot.green{
    background-color: #4bdb87;
    animation: 1.5s greenPulse infinite ease-in-out;
}

.dot.yellow{
    background-color: #dbd94b;
    animation: 1.5s yellowPulse infinite ease-in-out;
}

.dot.red{
    background-color: #e62f2f;
    animation: 1.5s redPulse infinite ease-in-out;
}

main > header > section{
    font-family: var(--font-raleway);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hostOutdoor{
    display: flex;
    gap: 10px;
}

.flag.green{
    color: #4bdb87;
}

.flag.yellow{
    color: #cacc38;
}


.flag.red{
    color: #e62f2f;
}

/* ------------------------- */
/* ---- MAIN > ARTICLE ----- */

main > article{
    margin: 0 auto;
    height: auto;
    width: 1250px;
}

main > article > ul {
    list-style: none;
    width: 100%;
    height: auto;
}

main > article > ul > li {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.title h1{
    font-family: var(--font-raleway);
}

.title p{
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    color: rgb(77, 77, 77);
}

main > article > ul > li > section {
    border-radius: 7px;
    box-shadow: 2px 2px 7px grey;
    background-color: white;
    width: 100%;
    padding: 50px 10px 50px 10px;

    position: relative;

    display: flex;
    flex-direction: column;
}

.porcentPointGraphic{
    position: absolute;
    top: 10%;
    left: 3%;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--font-poppins);

    display: flex;
    gap: 5px;
}

.overallUptime{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.overallUptime > li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.overallUptime > li:not(:first-child)::before {
    position: absolute;
    content: '';
    background-color: #9c9c9c;
    top: 0;
    right: 0;
    left: -50%;
    bottom: 0;
    width: 1%;
    height: 100%;
}

.overallUptime > li > h3{
    font-size: 1.6rem;
    font-family: var(--font-ubuntu);
}

.overallUptime > li > p{
    font-size: 1rem;
    font-weight: 300;
    color: rgb(97, 97, 97);
    font-family: var(--font-ubuntu);
}

.os{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-raleway);
    gap: 15px;
}

.recentEvents{
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recentEvents > li {
    display: flex;
    padding: 30px 0px 0px 0px;
    margin-left: 35px;
    margin-right: 35px;
    gap: 10px;
}

.recentEvents > li:not(:first-child){
    border-top: 1px solid grey ;
}

.imgEvent{
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.imgEvent.okay{
    background-image: url("/image/icons/flag_okay.png");
}

.imgEvent.important{
    background-image: url("/image/icons/flag_important.png");
}

.imgEvent.error{
    background-image: url("/image/icons/flag_error.png");
}

.uptimeServer{
    font-family: var(--font-nunito);
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.recentEvents .titleRecentEvents {
    font-size: 1.5rem;
    font-family: var(--font-nunito);
    font-weight: 500;
}

.recentEvents .detailsRecentEvents {
    font-size: 1rem;
    font-family: var(--font-nunito);
    font-weight: 200;
}

.recentEvents .dateRecentEvents {
    color: grey;
    font-size: 1rem;
    font-family: var(--font-nunito);
    font-weight: 600;
}

/* ------------------------- */
/* -------- ANIMATION ------ */

@keyframes greenPulse {
  0% {
    box-shadow: 0 0 0 0 #69ffa8;
  }

  100% {
    box-shadow: 0 0 0 40px #69ffa800;
  }
}

@keyframes yellowPulse {
  0% {
    box-shadow: 0 0 0 0 #e4e671;
  }

  100% {
    box-shadow: 0 0 0 40px #fff56900;
  }
}

@keyframes redPulse {
  0% {
    box-shadow: 0 0 0 0 #ff6969;
  }

  100% {
    box-shadow: 0 0 0 40px #ff6969;
  }
}