/*############# SEARCH #############*/

#search{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/*------------- Search Header -------------*/

#search > header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    gap: 20px;
}

#inputSearch{
    height: 30px;
    width: 65%;
    padding-left: 5px;
    font-family: var(--font-ubuntu);
}

#search > header > div{
    position: relative;
}

#filtrosBtn{
    font-size: 0.9rem;
    padding: 7px 10px;
    font-weight: 500;
    background: #3e5069;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

#filtrosCats{
    box-shadow: 0px 1px 4px grey;
    border-radius: 3px;

    background-color: white;
    list-style: none;

    position: absolute;

    display: none;
    flex-direction: column;
    
    top: 130%;
}

#filtrosCats.actived{
    display: flex;
}

#filtrosCats li {
    display: flex;
    align-items: center;
    justify-content: start;

    white-space: nowrap;

    padding: 10px 15px 10px 15px;
    gap: 7px;

    font-family: var(--font-raleway);
    font-size: 0.9rem;
}

#searchBtn2 {
    font-size: 0.9rem;
    padding: 7px 10px;
    font-weight: 500;
    background: #3e5069;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(16, 185, 129, 0.6);
  border-radius: 100%;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#searchBtn2:hover .transition, #filtrosBtn:hover .transition, #hostCreateBtn:hover .transition {
  width: 14em;
  height: 14em;
}

#searchBtn2:active, #filtrosBtn:active, #hostCreateBtn:active  {
  transform: scale(0.97);
}

#filtrosCats li input[type="checkbox"]:hover{
    cursor: pointer;
}

/*------------- Search Article -------------*/

#search > article {
    box-shadow: 0px 1px 4px grey;
    border-radius: 7px;

    width: 90%;
    height: 65%;
    overflow-x: hidden;
    overflow-y: scroll;

}

#search > article > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px 5px 0px 5px;
}

#search > article > ul li{
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#search > article > ul li:nth-of-type(even) {
    background-color: rgb(217, 217, 217);
}

#search > article > ul li h6{
    font-family: var(--font-nunito);
    font-size: 1.2rem;
}

#search > article > ul li p{
    font-size: 0.8rem;
    color: rgb(34, 34, 34);
}

#search > article > ul li div{
    display: flex;
    gap: 10px;
}

#search > article > ul li div > button {
    border: none; 
    border-radius: 4px;
    width: 45px;
    transition: all 0.2s ease-in-out;
}

#search > article > ul li div > button:hover{
    cursor: pointer;
    filter: brightness(1.3);
}

#search > article > ul li div > button img{
    transition: all 0.6s ease-in-out;
}

#search > article > ul li div > button:hover img{
    filter: brightness(2);
}

#search > article > ul li .read{
    background-color: rgb(63, 194, 85);
}

#search > article > ul li .update{
    background-color: rgb(63, 63, 194);
}

#search > article > ul li .delete{
    background-color: rgb(194, 63, 63);
}
