<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<link rel="icon" type="image/png" th:href="@{/image/icons/main_icon1.png}" />
	<link rel="apple-touch-icon" type="image/png" th:href="@{/image/icons/main_icon1.png}">
	    
	<link rel="stylesheet" th:href="@{/stylesheets/application.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/pointGraphic.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/host.css}">

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
    <title th:text="${host.name}">Nome do Host</title>
</head>
<body>

    <div id="flash-message" class="flash-message hidden">
        <p id="flash-message-text"></p>
        <button class="close-flash" id="btn-flash-message">×</button>
    </div>
    
    <header class="main-header">
        <a href="/" id="linkHome">
            <img src="/image/icons/seta_esquerda_branca.png" alt="" height="25px">
            <p>Voltar</p>
        </a>
        <article>
            <a href="/admin" id="admin-btn">Portal Admin</a>
            <img th:src="@{/image/Logo_Unilab_horizontal_para_fundo_escuro.png}" alt="" height="120px">

            <div>
                <h1>Estados de Serviços</h1>

                <ul>
                    <li><p>Última atualização</p></li>
                    <li><p id="lastUpdateTime">--:--:--</p></li> 
                    <li><p>|</p></li>
                    <li><p>Próxima atualização em</p></li>
                    <li><p id="countDownTime">00s.</p></li>
                </ul>
            </div>
        </article>    
    </header>

    <main>
        <header>
            <div class="dot yellow" id="hostStatusPoint"></div>
            <section>
                <div class="hostOutdoor">
                    <h1 id="hostName">Hostname</h1>
                    <h1>está</h1>
                    <h1 class="flag yellow" id="hostStatusFlag">com Alerta!</h1>
                </div>
                <p>Checagem a cada minuto</p>
            </section>
        </header>

        <article>
            <ul>
                <!-- Disponibilidade Global -->

                <li id="disponibilidadeGlobal">
                    <div class="title">
                        <h1>Disponibilidade</h1>
                        <p>- últimas 48h</p>
                    </div>
                    <section>
                        <div class="porcentPointGraphic">
                            <p>99%</p>
                            <p>de disponibilidade</p> 
                        </div>
                        <ol class="pointGraphic">
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point okay" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point warning" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point avarage" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point high" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point disaster" data-line1="24-06-22" data-line2="99%"></li>
                                <li class="point empty" data-line1="24-06-22" data-line2="99%"></li>
                        </ol>
                    </section>
                </li>

                <!-- Disponibilidade por Especifica -->

                <li id="disponibilidadeEspecifica">
                    <div class="title">
                        <h1>Disponibilidade Global</h1>
                    </div>
                    <section>
                        <ol class="overallUptime">
                            <li>
                                <h3 id="availabilityData48h"></h3>
                                <p>em 48h</p>
                            </li>

                            <li>
                                <h3 id="availabilityData24h"></h3>
                                <p>em 24h</p>
                            </li>

                            <li>
                                <h3 id="availabilityData12h"></h3>
                                <p>em 12h</p>
                            </li>

                            <li>
                                <h3 id="availabilityData6h"></h3>
                                <p>em 6h</p>
                            </li>
                        </ol>
                    </section>
                </li>

                <!-- Sistema Operacional -->

                <li id="sistemaOperacional">
                    <div class="title">
                        <h1>Sistema Operacional</h1>
                    </div>
                    <section>
                        <div class="os">
                            <h1>Linux version 3.10.0-693.17.1.el7.x86_64</h1>
                            <p>x86_64</p>
                        </div>
                    </section>
                </li>

                <!-- Gráfico Line para CPU em 48h -->
                <li id="cpuUso">
                    <div class="title">
                        <h1>Uso de CPU</h1>
                    </div>
                    <section>
                        <div id="cpuChart"></div>
                    </section>
                </li>

                <!-- Gráfico Area Spline para Processos CPU -->
                <li id="cpuProcessos">
                    <div class="title">
                        <h1>Processos do CPU</h1>
                    </div>
                    <section>
                        <div id="cpuProcessosChart"></div>
                    </section>
                </li>

                <!-- Gráfico Line para troca de contextos CPU em 48h -->
                <li id="cpuContextos">
                    <div class="title">
                        <h1>Troca de contextos da CPU</h1>
                    </div>
                    <section>
                        <div id="cpuContextosChart"></div>
                    </section>
                </li>

                <!-- Gráfico Angle Circle para Memoria -->
                <li id="memoriaUso">
                    <div class="title">
                        <h1>Uso de Memória RAM</h1>
                    </div>
                    <section>
                        <div id="memoriaChart"></div>
                    </section>
                </li>

                <!-- Gráfico Angle Circle para SWAP -->
                <li id="swapUso">
                    <div class="title">
                        <h1>Uso de Memória SWAP</h1>
                    </div>
                    <section>
                        <div id="swapChart"></div>
                    </section>
                </li>

                <!-- Gráfico Angle Circle para Armazenamento -->
                <li id="armazenamentoUso">
                    <div class="title">
                        <h1>Uso de Armazenamento</h1>
                    </div>
                    <section>
                        <div id="armazenamentoChart"></div>
                    </section>
                </li> 

                <!-- Gráfico Area Spline para Banda larga em 48h -->
                <li id="BandaLargaDados">
                    <div class="title">
                        <h1>Banda larga de dados</h1>
                    </div>
                    <section>
                        <div id="dadosChart"></div>
                    </section>
                </li>

                <!-- Tempo de Servidor Ativo -->
                <li id="tempoAtivoServidor">
                    <div class="title">
                        <h1>Tempo de servidor ativo</h1>
                    </div>
                    <section class="uptimeServer">
                        <h1 id="diasUptime">0</h1>
                        <h1>dias</h1>
                        <h1 id="horasUptime">12</h1>
                        <h1>horas</h1>
                        <h1 id="minutosUptime">34</h1>
                        <h1>minutos</h1>
                    </section>
                </li>

                <!-- Eventos Recentes -->

                <li id="eventosRecentes">
                    <div class="title">
                        <h1>5 Eventos mais recentes</h1>
                    </div>
                    <section>
                        <ol class="recentEvents">
                            <li>
                                <div class="imgEvent okay"></div>

                                <div>
                                    <h3 class="titleRecentEvents">Rodando com Sucesso</h3>
                                    <p class="detailsRecentEvents"></p>
                                    <p class="dateRecentEvents">16/08/2025 as 23:05</p>
                                </div>

                            </li>

                            <li>
                                <div class="imgEvent important"></div>

                                <div>
                                    <h3 class="titleRecentEvents">Rodando com Sucesso</h3>
                                    <p class="detailsRecentEvents">Aplicação está com alto consumo de memória</p>
                                    <p class="dateRecentEvents">16/08/2025 as 23:05</p>
                                </div>

                            </li>

                            <li>
                                <div class="imgEvent error"></div>

                                <div>
                                    <h3 class="titleRecentEvents">Aplicaçao parada</h3>
                                    <p class="detailsRecentEvents"></p>
                                    <p class="dateRecentEvents">16/08/2025 as 23:05</p>
                                </div>

                            </li>

                            <li>
                                <div class="imgEvent okay"></div>

                                <div>
                                    <h3 class="titleRecentEvents">Rodando com Sucesso</h3>
                                    <p class="detailsRecentEvents"></p>
                                    <p class="dateRecentEvents">16/08/2025 as 23:05</p>
                                </div>

                            </li>

                            <li>
                                <div class="imgEvent error"></div>

                                <div>
                                    <h3 class="titleRecentEvents">Aplicação parada</h3>
                                    <p class="detailsRecentEvents">Aplicação está parada com error.</p>
                                    <p class="dateRecentEvents">16/08/2025 as 23:05</p>
                                </div>

                            </li>
                        </ol>
                    </section>
                </li>
            </ul>
        </article>
    </main>

    <footer>
        <article>
            <header>
                <h1>DTI</h1>
                <h4>Diretoria de Tecnologia da Informação</h4>
                <p>Aplicação desenvolvida pela DTI © 2025</p>
            </header>

            <div>
                <ul>
                    <li>
                        <button id="fullscreen-btn">  
                            <img th:src="@{/image/icons/fullscreen_black.png}" alt="" height="20px">
                            <p>Fullscreen mode</p>
                        </button>
                    </li>

                    <li>
                        <button id="alert-btn"> 
                            <img th:src="@{/image/icons/mute_black.png}" alt="" height="20px">
                            <p>Alert Sound</p>
                        </button>
                    </li>
                </ul>
            </div>
        </article>
    </footer>

    <audio id="alert-sound" src="/sounds/alert.mp3" preload="auto"></audio>

    <script th:src="@{/javascript/zabbixStatusChecker.js}"></script>
    <script th:src="@{/javascript/component.js}"></script>
    <script th:src="@{/javascript/TemplateServerRequest.js}"></script>
</body>
</html>